<main-nav>
    <div class="body">
        <div class="container">
            <div class="card" >
                <div class="box">
                    <div class="content">
                        <h2>{{bookCount}}</h2>
                        <h3>Books</h3>
                        <p>You can add, edit, delete and view all books details from this section</p>
                        <a routerLink="/book">View More</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="box">
                    <div class="content">
                        <h2>{{memberCount}}</h2>
                        <h3>Members</h3>
                        <p>You can add, edit, delete and view all Members details from this section</p>
                        <a routerLink="/book">View More</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="box">
                    <div class="content">
                       
                        <h3>Lends</h3>
                        <p>You can lend books, mark received books and view all lended books from this section</p>
                        <a href="#">View More</a>
                    </div>
                </div>
            </div>
        </div>

    </div>


</main-nav>